In [1]:
import pandas as pd
import tensorflow as tf

c:\users\deves\appdata\local\programs\python\python37\lib\site-packages\tensorflow\python\framework\dtypes.py:526: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
c:\users\deves\appdata\local\programs\python\python37\lib\site-packages\tensorflow\python\framework\dtypes.py:527: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
c:\users\deves\appdata\local\programs\python\python37\lib\site-packages\tensorflow\python\framework\dtypes.py:528: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
c:\users\deves\appdata\local\programs\python\python37\lib\site-packages\tensorflow\python\framework\dtypes.py:529: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
c:\users\deves\appdata\local\programs\python\python37\lib\site-packages\tensorflow\python\framework\dtypes.py:530: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
c:\users\deves\appdata\local\programs\python\python37\lib\site-packages\tensorflow\python\framework\dtypes.py:535: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])

In [2]:
stock = "AMBUJACEM"
options = []
prices = []
errors = []

for i in range(12):
    if i+1 not in errors:
        options.append("%s-options-CE-%s.csv"%(stock,str(i+1)))
        prices.append("%s-prices-%s.csv"%(stock,str(i+1)))

In [3]:
# opt = pd.read_csv(options[0])
# price = pd.read_csv(options[0])

opts = []
for x in options:
    tmp = pd.read_csv(x)
    opts.append(tmp)
    
opt = pd.concat(opts)
    
price = []
for x in prices:
    tmp = pd.read_csv(x)
    price.append(tmp)

price = pd.concat(price)
price = price[["Date","Close","Open"]]

In [4]:
opt.head()

,Symbol,Date,Expiry,Option Type,Strike Price,Open,High,Low,Close,LTP,Settle Price,No. of contracts,Turnover in Lacs,Premium Turnover in Lacs,Open Int,Change in OI,Underlying Value
0,AMBUJACEM,01-Jan-2020,30-Jan-2020,CE,190,0.00,0.00,0.00,10.75,10.75,10.70,0,0.00,0.00,5000,0,197
1,AMBUJACEM,02-Jan-2020,30-Jan-2020,CE,190,12.95,12.95,12.95,12.95,12.95,18.00,1,5.07,0.32,5000,0,205.35
2,AMBUJACEM,03-Jan-2020,30-Jan-2020,CE,190,0.00,0.00,0.00,12.95,12.95,16.20,0,0.00,0.00,5000,0,203.4
3,AMBUJACEM,06-Jan-2020,30-Jan-2020,CE,190,11.35,11.35,11.35,11.35,11.35,11.35,1,5.03,0.28,7500,2500,196.9
4,AMBUJACEM,07-Jan-2020,30-Jan-2020,CE,190,0.00,0.00,0.00,11.35,11.35,12.55,0,0.00,0.00,7500,0,199

In [5]:
opt = opt.drop(["No. of contracts","LTP","Settle Price","Premium Turnover in Lacs","Underlying Value"],axis=1)

In [6]:
opt.head()

,Symbol,Date,Expiry,Option Type,Strike Price,Open,High,Low,Close,LTP,Settle Price,No. of contracts,Turnover in Lacs,Premium Turnover in Lacs,Open Int,Change in OI,Underlying Value
0,AMBUJACEM,01-Jan-2020,30-Jan-2020,CE,190,0.00,0.00,0.00,10.75,10.75,10.70,0,0.00,0.00,5000,0,197
1,AMBUJACEM,02-Jan-2020,30-Jan-2020,CE,190,12.95,12.95,12.95,12.95,12.95,18.00,1,5.07,0.32,5000,0,205.35
2,AMBUJACEM,03-Jan-2020,30-Jan-2020,CE,190,0.00,0.00,0.00,12.95,12.95,16.20,0,0.00,0.00,5000,0,203.4
3,AMBUJACEM,06-Jan-2020,30-Jan-2020,CE,190,11.35,11.35,11.35,11.35,11.35,11.35,1,5.03,0.28,7500,2500,196.9
4,AMBUJACEM,07-Jan-2020,30-Jan-2020,CE,190,0.00,0.00,0.00,11.35,11.35,12.55,0,0.00,0.00,7500,0,199

In [7]:
opt["Change"] = (opt["Close"] - opt["Open"])*100/opt["Open"]
opt["Theta"] = pd.to_datetime(opt["Expiry"]) - pd.to_datetime(opt["Date"])
opt["Theta"] = opt["Theta"].dt.days.astype('int16')
opt.head()

,Symbol,Date,Expiry,Option Type,Strike Price,Open,High,Low,Close,LTP,Settle Price,No. of contracts,Turnover in Lacs,Premium Turnover in Lacs,Open Int,Change in OI,Underlying Value,Change,Theta
0,AMBUJACEM,01-Jan-2020,30-Jan-2020,CE,190,0.00,0.00,0.00,10.75,10.75,10.70,0,0.00,0.00,5000,0,197,inf,29
1,AMBUJACEM,02-Jan-2020,30-Jan-2020,CE,190,12.95,12.95,12.95,12.95,12.95,18.00,1,5.07,0.32,5000,0,205.35,0.0,28
2,AMBUJACEM,03-Jan-2020,30-Jan-2020,CE,190,0.00,0.00,0.00,12.95,12.95,16.20,0,0.00,0.00,5000,0,203.4,inf,27
3,AMBUJACEM,06-Jan-2020,30-Jan-2020,CE,190,11.35,11.35,11.35,11.35,11.35,11.35,1,5.03,0.28,7500,2500,196.9,0.0,24
4,AMBUJACEM,07-Jan-2020,30-Jan-2020,CE,190,0.00,0.00,0.00,11.35,11.35,12.55,0,0.00,0.00,7500,0,199,inf,23

In [11]:
opt.set_index("Date",inplace=True)
price.set_index("Date",inplace=True)

KeyError: "None of ['Date'] are in the columns"

In [12]:
opt["OV"] = ((price["Close"] - opt["Strike Price"]) / opt["Close"]) * opt["Theta"]
opt["OV-Mean"] = (opt.OV.shift(1)+opt.OV.shift(2)+opt.OV.shift(3)) / 3
opt["Ratio"] = opt["OV"] / opt["OV-Mean"]
opt.loc[opt.Ratio <= 0.3,["buy"]] = 1

In [13]:
opt.fillna(0,inplace=True)

In [14]:
opt.head()

,Symbol,Expiry,Option Type,Strike Price,Open,High,Low,Close,LTP,Settle Price,...,Premium Turnover in Lacs,Open Int,Change in OI,Underlying Value,Change,Theta,OV,OV-Mean,Ratio,buy
Date,,,,,,,,,,,,,,,,,,,,,
01-Jan-2020,AMBUJACEM,30-Jan-2020,CE,190,0.00,0.00,0.00,10.75,10.75,10.70,...,0.00,5000,0,197,inf,29,18.883721,0.000000,0.00000,0.0
02-Jan-2020,AMBUJACEM,30-Jan-2020,CE,190,12.95,12.95,12.95,12.95,12.95,18.00,...,0.32,5000,0,205.35,0.0,28,33.189189,0.000000,0.00000,0.0
03-Jan-2020,AMBUJACEM,30-Jan-2020,CE,190,0.00,0.00,0.00,12.95,12.95,16.20,...,0.00,5000,0,203.4,inf,27,27.938224,0.000000,0.00000,0.0
06-Jan-2020,AMBUJACEM,30-Jan-2020,CE,190,11.35,11.35,11.35,11.35,11.35,11.35,...,0.28,7500,2500,196.9,0.0,24,14.590308,26.670378,0.54706,0.0
07-Jan-2020,AMBUJACEM,30-Jan-2020,CE,190,0.00,0.00,0.00,11.35,11.35,12.55,...,0.00,7500,0,199,inf,23,18.237885,25.239240,0.72260,0.0

In [ ]:
x_data = opt[["Ratio"]]
y_data = opt[["buy"]]

In [ ]:
ratios = tf.feature_column.numeric_column("Ratio")

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(x_data,y_data,test_size=0.3)