In [38]:
import pandas as pd
import matplotlib.pyplot as plt

In [39]:
prices = pd.read_csv("banknifty-prices.csv")

In [40]:
prices.head()

,Date,Open,High,Low,Close,Shares Traded,Turnover (Rs. Cr)
0,14-Mar-2022,34660.25,35435.10,34625.05,35312.15,193297091,7589.67
1,15-Mar-2022,35467.95,35643.80,34706.05,35022.65,224193669,8437.88
2,16-Mar-2022,35555.75,35806.35,35461.55,35748.25,173798310,5703.97
3,17-Mar-2022,36302.00,36611.95,36261.65,36428.55,181953699,6709.49
4,21-Mar-2022,36545.85,36600.20,35900.20,36018.50,128655959,4771.04

In [41]:
val = 0.75

prices["predhigh"] = (prices["Close"].shift(1))*(100+val)/100
prices["predlow"] = (prices["Close"].shift(1))*(100-val)/100

In [42]:
prices.head()

,Date,Open,High,Low,Close,Shares Traded,Turnover (Rs. Cr),predhigh,predlow
0,14-Mar-2022,34660.25,35435.10,34625.05,35312.15,193297091,7589.67,NaN,NaN
1,15-Mar-2022,35467.95,35643.80,34706.05,35022.65,224193669,8437.88,35576.991125,35047.308875
2,16-Mar-2022,35555.75,35806.35,35461.55,35748.25,173798310,5703.97,35285.319875,34759.980125
3,17-Mar-2022,36302.00,36611.95,36261.65,36428.55,181953699,6709.49,36016.361875,35480.138125
4,21-Mar-2022,36545.85,36600.20,35900.20,36018.50,128655959,4771.04,36701.764125,36155.335875

In [51]:
prices.loc[prices.predhigh <= prices.High, ["sell"]] = 1
prices.loc[prices.predhigh > prices.High, ["sell"]] = 0
prices.loc[prices.predlow >= prices.Low, ["buy"]] = 1
prices.loc[prices.predlow < prices.Low, ["buy"]] = 0

In [52]:
prices.loc[prices.predlow >= prices.Low, ["final_buy"]] = prices.predlow
prices.loc[prices.predhigh <= prices.High, ["final_sell"]] = prices.predhigh

In [53]:
prices.loc[((prices.sell==1)&(prices.buy==0)),'final_buy'] = prices.Close
prices.loc[((prices.sell==0)&(prices.buy==1)),'final_sell'] = prices.Close

In [54]:
prices.head()

,Date,Open,High,Low,Close,Shares Traded,Turnover (Rs. Cr),predhigh,predlow,sell,buy,final_buy,final_sell
0,14-Mar-2022,34660.25,35435.10,34625.05,35312.15,193297091,7589.67,NaN,NaN,NaN,NaN,NaN,NaN
1,15-Mar-2022,35467.95,35643.80,34706.05,35022.65,224193669,8437.88,35576.991125,35047.308875,1.0,1.0,35047.308875,35576.991125
2,16-Mar-2022,35555.75,35806.35,35461.55,35748.25,173798310,5703.97,35285.319875,34759.980125,1.0,0.0,35748.250000,35285.319875
3,17-Mar-2022,36302.00,36611.95,36261.65,36428.55,181953699,6709.49,36016.361875,35480.138125,1.0,0.0,36428.550000,36016.361875
4,21-Mar-2022,36545.85,36600.20,35900.20,36018.50,128655959,4771.04,36701.764125,36155.335875,0.0,1.0,36155.335875,36018.500000

In [58]:
prices['profit_buy'] = 100*(prices.final_buy-prices.Close)/prices.final_buy

In [59]:
prices[10:]

,Date,Open,High,Low,Close,Shares Traded,Turnover (Rs. Cr),predhigh,predlow,sell,buy,final_buy,final_sell,profit_buy
10,29-Mar-2022,35931.75,35977.20,35506.55,35847.40,177135786,4586.33,35978.328750,35442.671250,0.0,0.0,NaN,NaN,NaN
11,30-Mar-2022,36241.55,36421.10,36070.55,36334.30,325637452,8056.96,36116.255500,35578.544500,1.0,0.0,36334.300000,36116.255500,0.000000
12,31-Mar-2022,36457.20,36590.85,36278.15,36373.60,188135977,6187.65,36606.807250,36061.792750,0.0,0.0,NaN,NaN,NaN
13,01-Apr-2022,36298.35,37209.80,36242.35,37148.50,245689573,6288.75,36646.402000,36100.798000,1.0,0.0,37148.500000,36646.402000,0.000000
14,04-Apr-2022,37824.95,38765.85,37665.55,38635.20,309170581,14018.76,37427.113750,36869.886250,1.0,0.0,38635.200000,37427.113750,0.000000
15,05-Apr-2022,38731.30,38759.25,37935.95,38067.90,220560341,7019.55,38924.964000,38345.436000,0.0,1.0,38345.436000,38067.900000,0.723778
16,06-Apr-2022,37711.30,37868.50,37513.85,37632.80,198848773,6772.55,38353.409250,37782.390750,0.0,1.0,37782.390750,37632.800000,0.395927
17,07-Apr-2022,37421.75,37975.90,37346.80,37557.35,245018646,8711.76,37915.046000,37350.554000,1.0,1.0,37350.554000,37915.046000,-0.553662
18,08-Apr-2022,37619.70,37884.20,37405.20,37752.05,202237753,8312.04,37839.030125,37275.669875,1.0,0.0,37752.050000,37839.030125,0.000000
19,11-Apr-2022,37591.75,37941.75,37524.45,37613.80,132096631,5192.44,38035.190375,37468.909625,0.0,0.0,NaN,NaN,NaN
20,12-Apr-2022,37407.40,37920.60,37264.45,37747.40,171033301,6333.06,37895.903500,37331.696500,1.0,1.0,37331.696500,37895.903500,-1.113540
21,13-Apr-2022,37887.30,37988.60,37408.20,37463.40,143255004,6335.55,38030.505500,37464.294500,0.0,1.0,37464.294500,37463.400000,0.002388
22,18-Apr-2022,36833.15,36965.85,36441.35,36729.00,182939705,7933.87,37744.375500,37182.424500,0.0,1.0,37182.424500,36729.000000,1.219459
23,19-Apr-2022,36806.80,37123.55,35926.30,36341.60,216336217,11540.48,37004.467500,36453.532500,1.0,1.0,36453.532500,37004.467500,0.307055
24,20-Apr-2022,36482.60,36513.85,36114.05,36314.90,153381114,7481.00,36614.162000,36069.038000,0.0,0.0,NaN,NaN,NaN
25,21-Apr-2022,36513.10,36913.35,36395.70,36816.10,132687618,6966.06,36587.261750,36042.538250,1.0,0.0,36816.100000,36587.261750,0.000000
26,22-Apr-2022,36514.15,36578.95,35991.50,36044.75,140125764,5439.74,37092.220750,36539.979250,0.0,1.0,36539.979250,36044.750000,1.355308
27,25-Apr-2022,35792.35,36270.15,35511.40,36082.35,183091482,7098.21,36315.085625,35774.414375,0.0,1.0,35774.414375,36082.350000,-0.860771
28,26-Apr-2022,36515.35,36604.55,36265.90,36404.80,143384158,5742.39,36352.967625,35811.732375,1.0,0.0,36404.800000,36352.967625,0.000000
29,27-Apr-2022,36067.55,36175.90,35747.15,36028.85,134244167,5976.55,36677.836000,36131.764000,0.0,1.0,36131.764000,36028.850000,0.284830
30,28-Apr-2022,36189.95,36501.10,35951.10,36422.20,137268325,5750.47,36299.066375,35758.633625,1.0,0.0,36422.200000,36299.066375,0.000000
31,29-Apr-2022,36474.05,36718.80,35978.95,36088.15,172738822,8503.43,36695.366500,36149.033500,1.0,1.0,36149.033500,36695.366500,0.168424
32,02-May-2022,35627.60,36235.25,35618.20,36163.75,170186563,6323.80,36358.811125,35817.488875,0.0,1.0,35817.488875,36163.750000,-0.966738
33,04-May-2022,36266.15,36309.30,35127.85,35264.55,214565013,7349.13,36434.978125,35892.521875,0.0,1.0,35892.521875,35264.550000,1.749590
34,05-May-2022,35705.35,35934.85,35133.80,35232.85,167319447,5571.33,35529.034125,35000.065875,1.0,0.0,35232.850000,35529.034125,0.000000
35,06-May-2022,34569.10,34797.95,34353.20,34591.20,199208045,6569.78,35497.096375,34968.603625,0.0,1.0,34968.603625,34591.200000,1.079264
36,09-May-2022,34091.75,34554.35,33927.20,34275.40,179918781,6400.34,34850.634000,34331.766000,0.0,1.0,34331.766000,34275.400000,0.164180
37,10-May-2022,34181.20,34781.80,34176.80,34482.65,137963004,4938.30,34532.465500,34018.334500,1.0,0.0,34482.650000,34532.465500,0.000000
38,11-May-2022,34686.30,34793.20,34143.20,34693.15,179510699,5311.39,34741.269875,34224.030125,1.0,1.0,34224.030125,34741.269875,-1.370732
39,12-May-2022,34289.10,34341.20,33297.65,33532.15,382113108,7136.84,34953.348625,34432.951375,0.0,1.0,34432.951375,33532.150000,2.616103
40,13-May-2022,33925.95,34002.20,33007.90,33121.35,272709547,8347.25,33783.641125,33280.658875,1.0,1.0,33280.658875,33783.641125,0.478683
41,16-May-2022,33256.00,33821.65,33001.75,33597.60,195136858,5232.06,33369.760125,32872.939875,1.0,0.0,33597.600000,33369.760125,0.000000
42,17-May-2022,33796.20,34366.05,33680.60,34301.90,161500305,5248.14,33849.582000,33345.618000,1.0,0.0,34301.900000,33849.582000,0.000000
43,18-May-2022,34448.20,34655.80,34134.70,34163.70,146780579,5561.35,34559.164250,34044.635750,1.0,0.0,34163.700000,34559.164250,0.000000
44,19-May-2022,33461.00,33633.95,33180.60,33315.65,150355852,5416.02,34419.927750,33907.472250,0.0,1.0,33907.472250,33315.650000,1.745404
45,20-May-2022,33765.15,34358.05,33658.05,34276.40,129371809,4517.56,33565.517375,33065.782625,1.0,0.0,34276.400000,33565.517375,0.000000
46,23-May-2022,34321.40,34819.95,34117.35,34247.60,155978859,5319.59,34533.473000,34019.327000,1.0,0.0,34247.600000,34533.473000,0.000000
47,24-May-2022,34223.20,34586.45,34115.80,34290.15,163680878,4884.47,34504.457000,33990.743000,1.0,0.0,34290.150000,34504.457000,0.000000
48,25-May-2022,34491.80,34722.60,34285.80,34339.50,153586250,4928.93,34547.326125,34032.973875,1.0,0.0,34339.500000,34547.326125,0.000000
49,26-May-2022,34670.60,35222.05,34424.75,35094.90,191472056,6648.96,34597.046250,34081.953750,1.0,0.0,35094.900000,34597.046250,0.000000
50,27-May-2022,35326.60,35694.85,35291.95,35613.30,132560154,4677.24,35358.111750,34831.688250,1.0,0.0,35613.300000,35358.111750,0.000000
51,30-May-2022,35958.80,36083.70,35748.45,35826.95,126987258,3844.70,35880.399750,35346.200250,1.0,0.0,35826.950000,35880.399750,0.000000
52,31-May-2022,35615.30,35881.95,35288.95,35487.40,149259006,8481.87,36095.652125,35558.247875,0.0,1.0,35558.247875,35487.400000,0.199245
53,01-Jun-2022,35358.95,35768.70,35285.45,35620.80,100780723,3716.12,35753.555500,35221.244500,1.0,0.0,35620.800000,35753.555500,0.000000
54,02-Jun-2022,35470.95,35676.20,35385.00,35613.65,140705809,4091.04,35887.956000,35353.644000,0.0,0.0,NaN,NaN,NaN
55,03-Jun-2022,35929.55,35958.45,35175.10,35275.05,104814655,3431.47,35880.752375,35346.547625,1.0,1.0,35346.547625,35880.752375,0.202276
56,06-Jun-2022,35159.15,35424.50,35072.30,35310.20,100771005,3326.73,35539.612875,35010.487125,0.0,0.0,NaN,NaN,NaN
57,07-Jun-2022,35080.80,35154.30,34834.40,34996.00,91646535,3283.97,35575.026500,35045.373500,0.0,1.0,35045.373500,34996.000000,0.140885
58,08-Jun-2022,35165.65,35449.90,34831.75,34946.15,124570051,3771.68,35258.470000,34733.530000,1.0,0.0,34946.150000,35258.470000,0.000000
59,09-Jun-2022,34802.25,35149.10,34659.10,35085.45,100853057,3039.26,35208.246125,34684.053875,0.0,1.0,34684.053875,35085.450000,-1.157293
60,10-Jun-2022,34686.95,34752.45,34346.65,34483.80,90046261,3228.00,35348.590875,34822.309125,0.0,1.0,34822.309125,34483.800000,0.972104