In [1]:
import pandas as pd
from matplotlib.pyplot import *
import sys
sys.path.insert(1,"../../")
from OVTests import *

In [30]:
stock = "ADANIENT"
options = []
prices = []

for i in range(6):
    options.append("%s-options-PE-%s.csv"%(stock,str(i+1)))
    prices.append("%s-prices-%s.csv"%(stock,str(i+1)))

In [26]:
for i in prices:
    df = pd.read_csv(i)
    df["Close"] = df["Close Price"]
    df["Open"] = df["Open Price"]
    df.to_csv(i)

In [17]:
ov = OVBacktest(options[-1],prices[-1])
df = ov.options
df.head()

,Symbol,Date,Expiry,Option Type,Strike Price,Open,High,Low,Close,LTP,...,Premium Turnover in Lacs,Open Int,Change in OI,Underlying Value,Delta,OV,OV-Change,OV-Mean,Change,Ratio
0,ADANIENT,01-Jul-2022,28-Jul-2022,PE,2200,105.05,134.70,79.60,84.10,81.25,...,991.37,319000,102000,-,27,10.337693,0.000000,0.000000,-19.942884,0.000000
1,ADANIENT,04-Jul-2022,28-Jul-2022,PE,2200,80.00,82.85,64.10,65.95,65.10,...,552.02,409500,90500,-,24,22.507961,54.070947,0.000000,-17.562500,0.000000
2,ADANIENT,05-Jul-2022,28-Jul-2022,PE,2200,60.20,74.00,57.95,70.10,71.45,...,543.63,424500,15000,-,23,15.240371,-47.686436,0.000000,16.445183,0.000000
3,ADANIENT,06-Jul-2022,28-Jul-2022,PE,2200,67.30,69.40,54.55,56.15,55.95,...,348.69,415500,-9000,2272.85,22,28.543188,46.605926,16.028675,-16.567608,1.780758

In [31]:
loader = Loader(options,prices,strategy=2)

In [33]:
loader.find_net_returns(0.3,verbose=True)

Returns: 162.60391816670284
Returns: 213.91167408142846
Returns: 87.00069612722777
Returns: 0
Returns: 0
Returns: 50.03977439932164

513.5560627746808

In [34]:
loader.generate_results(0.3)

In [29]:
loader.find_optimal_threshold(verbose=True)

Max Returns: -286.85143645054626
Optimal Threshold: 0.02
Time Taken: 5.828404903411865 seconds

0.02