# Regression Exercise 

California Housing Data

This data set contains information about all the block groups in California from the 1990 Census. In this sample a block group on average includes 1425.5 individuals living in a geographically compact area. 

The task is to aproximate the median house value of each block from the values of the rest of the variables. 

 It has been obtained from the LIACC repository. The original page where the data set can be found is: http://www.liaad.up.pt/~ltorgo/Regression/DataSets.html.

The Features:
 
* housingMedianAge: continuous. 
* totalRooms: continuous. 
* totalBedrooms: continuous. 
* population: continuous. 
* households: continuous. 
* medianIncome: continuous. 
* medianHouseValue: continuous.

## The Data

** Import the cal_housing_clean.csv file with pandas. Separate it into a training (70%) and testing set(30%).**

In [358]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
import tensorflow as tf
import numpy as np
from sklearn.model_selection import train_test_split

In [359]:
data = pd.read_csv('cal_housing_clean.csv')

In [360]:
data.head()

,housingMedianAge,totalRooms,totalBedrooms,population,households,medianIncome,medianHouseValue
0,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0
1,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0
2,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0
3,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0
4,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0

In [361]:
data.tail()

,housingMedianAge,totalRooms,totalBedrooms,population,households,medianIncome,medianHouseValue
20635,25.0,1665.0,374.0,845.0,330.0,1.5603,78100.0
20636,18.0,697.0,150.0,356.0,114.0,2.5568,77100.0
20637,17.0,2254.0,485.0,1007.0,433.0,1.7000,92300.0
20638,18.0,1860.0,409.0,741.0,349.0,1.8672,84700.0
20639,16.0,2785.0,616.0,1387.0,530.0,2.3886,89400.0

In [362]:
x = data.drop(['medianHouseValue'],1)

In [363]:
y = data['medianHouseValue']

In [364]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.3)

In [365]:
x_train.head()

,housingMedianAge,totalRooms,totalBedrooms,population,households,medianIncome
9992,16.0,1000.0,197.0,508.0,190.0,2.3062
3061,15.0,3938.0,789.0,3500.0,768.0,2.1295
5786,17.0,5282.0,1605.0,4116.0,1574.0,3.0520
20103,4.0,1658.0,301.0,676.0,278.0,3.5714
2395,23.0,1881.0,380.0,64.0,37.0,3.8750

### Scale the Feature Data

** Use sklearn preprocessing to create a MinMaxScaler for the feature data. Fit this scaler only to the training data. Then use it to transform X_test and X_train. Then use the scaled X_test and X_train along with pd.Dataframe to re-create two dataframes of scaled data.**

In [366]:
scaler = MinMaxScaler()

In [367]:
scaler.fit(x_train)

MinMaxScaler(copy=True, feature_range=(0, 1))

In [368]:
train_df = pd.DataFrame(data=scaler.transform(x_train),
                       columns=x_train.columns,
                       index=x_train.index)

In [369]:
test_df = pd.DataFrame(data=scaler.transform(x_test),
                       columns=x_test.columns,
                       index=x_test.index)

In [370]:
train_df.head()

,housingMedianAge,totalRooms,totalBedrooms,population,households,medianIncome
9992,0.294118,0.025383,0.031567,0.014154,0.035281,0.124571
3061,0.274510,0.100107,0.126913,0.098013,0.143177,0.112385
5786,0.313725,0.134290,0.258335,0.115278,0.293634,0.176004
20103,0.058824,0.042118,0.048317,0.018863,0.051708,0.211825
2395,0.431373,0.047790,0.061040,0.001710,0.006720,0.232762

### Create Feature Columns

** Create the necessary tf.feature_column objects for the estimator. They should all be trated as continuous numeric_columns. **

In [371]:
features = [tf.feature_column.numeric_column('housingMedianAge'),
           tf.feature_column.numeric_column('totalRooms'),
           tf.feature_column.numeric_column('totalBedrooms'),
           tf.feature_column.numeric_column('population'),
           tf.feature_column.numeric_column('households'),
           tf.feature_column.numeric_column('medianIncome')]

** Create the input function for the estimator object. (play around with batch_size and num_epochs)**

In [372]:
training_input_fn = tf.estimator.inputs.pandas_input_fn(x=x_train,y=y_train,shuffle=True,
                                                       batch_size=8)

** Create the estimator model. Use a DNNRegressor. Play around with the hidden units! **

In [373]:
dnn = tf.estimator.DNNRegressor(hidden_units=[50,50,50,20,20,20,20,20,20,10],feature_columns=features)

INFO:tensorflow:Using default config.
WARNING:tensorflow:Using temporary folder as model directory: C:\Users\deves\AppData\Local\Temp\tmpssay1kkr
INFO:tensorflow:Using config: {'_model_dir': 'C:\\Users\\deves\\AppData\\Local\\Temp\\tmpssay1kkr', '_tf_random_seed': 1, '_save_summary_steps': 100, '_save_checkpoints_secs': 600, '_save_checkpoints_steps': None, '_session_config': None, '_keep_checkpoint_max': 5, '_keep_checkpoint_every_n_hours': 10000, '_log_step_count_steps': 100}

##### ** Train the model for ~1,000 steps. (Later come back to this and train it for more and check for improvement) **

In [374]:
dnn.train(training_input_fn,steps=200000)

INFO:tensorflow:Create CheckpointSaverHook.
INFO:tensorflow:Saving checkpoints for 1 into C:\Users\deves\AppData\Local\Temp\tmpssay1kkr\model.ckpt.
INFO:tensorflow:loss = 393666630000.0, step = 1
INFO:tensorflow:global_step/sec: 305.662
INFO:tensorflow:loss = 96330150000.0, step = 101 (0.329 sec)
INFO:tensorflow:global_step/sec: 385.695
INFO:tensorflow:loss = 248122230000.0, step = 201 (0.261 sec)
INFO:tensorflow:global_step/sec: 315.963
INFO:tensorflow:loss = 347539930000.0, step = 301 (0.314 sec)
INFO:tensorflow:global_step/sec: 317.35
INFO:tensorflow:loss = 245909720000.0, step = 401 (0.316 sec)
INFO:tensorflow:global_step/sec: 294.043
INFO:tensorflow:loss = 206054010000.0, step = 501 (0.339 sec)
INFO:tensorflow:global_step/sec: 324.485
INFO:tensorflow:loss = 110940455000.0, step = 601 (0.308 sec)
INFO:tensorflow:global_step/sec: 318.338
INFO:tensorflow:loss = 269867990000.0, step = 701 (0.315 sec)
INFO:tensorflow:global_step/sec: 316.517
INFO:tensorflow:loss = 271951040000.0, step = 801 (0.315 sec)
INFO:tensorflow:global_step/sec: 334.009
INFO:tensorflow:loss = 74211570000.0, step = 901 (0.301 sec)
INFO:tensorflow:global_step/sec: 317
INFO:tensorflow:loss = 119206560000.0, step = 1001 (0.314 sec)
INFO:tensorflow:global_step/sec: 305.332
INFO:tensorflow:loss = 278174630000.0, step = 1101 (0.327 sec)
INFO:tensorflow:global_step/sec: 287.698
INFO:tensorflow:loss = 241857970000.0, step = 1201 (0.349 sec)
INFO:tensorflow:global_step/sec: 287.67
INFO:tensorflow:loss = 158516300000.0, step = 1301 (0.347 sec)
INFO:tensorflow:global_step/sec: 324.511
INFO:tensorflow:loss = 241594810000.0, step = 1401 (0.308 sec)
INFO:tensorflow:global_step/sec: 334.178
INFO:tensorflow:loss = 207555720000.0, step = 1501 (0.300 sec)
INFO:tensorflow:global_step/sec: 322.405
INFO:tensorflow:loss = 245647160000.0, step = 1601 (0.309 sec)
INFO:tensorflow:global_step/sec: 342.165
INFO:tensorflow:loss = 131193700000.0, step = 1701 (0.292 sec)
INFO:tensorflow:global_step/sec: 550.091
INFO:tensorflow:loss = 23158858000.0, step = 1801 (0.182 sec)
INFO:tensorflow:Saving checkpoints for 1806 into C:\Users\deves\AppData\Local\Temp\tmpssay1kkr\model.ckpt.
INFO:tensorflow:Loss for final step: 186874530000.0.

** Create a prediction input function and then use the .predict method off your estimator model to create a list or predictions on your test data. **

In [375]:
test_input_fn = tf.estimator.inputs.pandas_input_fn(x=x_test,y=y_test,shuffle=False,
                                                   num_epochs=1)

In [376]:
predictions = dnn.predict(test_input_fn)

In [377]:
a = list(predictions)
# a['predictions']

INFO:tensorflow:Restoring parameters from C:\Users\deves\AppData\Local\Temp\tmpssay1kkr\model.ckpt-1806

** Calculate the RMSE. You should be able to get around 100,000 RMSE (remember that this is in the same units as the label.) Do this manually or use [sklearn.metrics](http://scikit-learn.org/stable/modules/generated/sklearn.metrics.mean_squared_error.html) **

In [378]:
preds = []

for i in a:
    preds.append(i['predictions'])

In [379]:
from sklearn.metrics import mean_squared_error

In [380]:
rmse = mean_squared_error(y_test,preds)**0.5

In [381]:
rmse

156325.71982128886

# Great Job!