# Classification Exercise

We'll be working with some California Census Data, we'll be trying to use various features of an individual to predict what class of income they belogn in (>50k or <=50k). 

Here is some information about the data:

<table>
<thead>
<tr>
<th>Column Name</th>
<th>Type</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr>
<td>age</td>
<td>Continuous</td>
<td>The age of the individual</td>
</tr>
<tr>
<td>workclass</td>
<td>Categorical</td>
<td>The type of employer the  individual has (government,  military, private, etc.).</td>
</tr>
<tr>
<td>fnlwgt</td>
<td>Continuous</td>
<td>The number of people the census  takers believe that observation  represents (sample weight). This  variable will not be used.</td>
</tr>
<tr>
<td>education</td>
<td>Categorical</td>
<td>The highest level of education  achieved for that individual.</td>
</tr>
<tr>
<td>education_num</td>
<td>Continuous</td>
<td>The highest level of education in  numerical form.</td>
</tr>
<tr>
<td>marital_status</td>
<td>Categorical</td>
<td>Marital status of the individual.</td>
</tr>
<tr>
<td>occupation</td>
<td>Categorical</td>
<td>The occupation of the individual.</td>
</tr>
<tr>
<td>relationship</td>
<td>Categorical</td>
<td>Wife, Own-child, Husband,  Not-in-family, Other-relative,  Unmarried.</td>
</tr>
<tr>
<td>race</td>
<td>Categorical</td>
<td>White, Asian-Pac-Islander,  Amer-Indian-Eskimo, Other, Black.</td>
</tr>
<tr>
<td>gender</td>
<td>Categorical</td>
<td>Female, Male.</td>
</tr>
<tr>
<td>capital_gain</td>
<td>Continuous</td>
<td>Capital gains recorded.</td>
</tr>
<tr>
<td>capital_loss</td>
<td>Continuous</td>
<td>Capital Losses recorded.</td>
</tr>
<tr>
<td>hours_per_week</td>
<td>Continuous</td>
<td>Hours worked per week.</td>
</tr>
<tr>
<td>native_country</td>
<td>Categorical</td>
<td>Country of origin of the  individual.</td>
</tr>
<tr>
<td>income</td>
<td>Categorical</td>
<td>"&gt;50K" or "&lt;=50K", meaning  whether the person makes more  than \$50,000 annually.</td>
</tr>
</tbody>
</table>

## Follow the Directions in Bold. If you get stuck, check out the solutions lecture.

### THE DATA

** Read in the census_data.csv data with pandas**

In [46]:
import pandas as pd
import tensorflow as tf
from sklearn.model_selection import train_test_split

In [47]:
data = pd.read_csv('census_data.csv')

In [48]:
data.head()

,age,workclass,education,education_num,marital_status,occupation,relationship,race,gender,capital_gain,capital_loss,hours_per_week,native_country,income_bracket
0,39,State-gov,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

** TensorFlow won't be able to understand strings as labels, you'll need to use pandas .apply() method to apply a custom function that converts them to 0s and 1s. This might be hard if you aren't very familiar with pandas, so feel free to take a peek at the solutions for this part.**

** Convert the Label column to 0s and 1s instead of strings.**

In [49]:
data['income_bracket'] = data['income_bracket'].map({' <=50K':0,' >50K':1})

In [50]:
data.tail()

,age,workclass,education,education_num,marital_status,occupation,relationship,race,gender,capital_gain,capital_loss,hours_per_week,native_country,income_bracket
32556,27,Private,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,0
32557,40,Private,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,1
32558,58,Private,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,0
32559,22,Private,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,0
32560,52,Self-emp-inc,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,1

In [51]:
x = data.drop(['income_bracket'],1)

In [52]:
y = data['income_bracket']

### Perform a Train Test Split on the Data

In [53]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.3)

In [54]:
x_train.head()

,age,workclass,education,education_num,marital_status,occupation,relationship,race,gender,capital_gain,capital_loss,hours_per_week,native_country
11692,34,Private,Some-college,10,Never-married,Adm-clerical,Not-in-family,White,Male,0,0,40,United-States
18463,74,Private,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,White,Male,99999,0,50,United-States
30640,30,Private,Assoc-voc,11,Never-married,Prof-specialty,Not-in-family,White,Female,0,0,40,United-States
12475,38,Federal-gov,HS-grad,9,Married-civ-spouse,Adm-clerical,Husband,White,Male,0,0,45,United-States
20210,43,State-gov,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,35,United-States

### Create the Feature Columns for tf.esitmator

** Take note of categorical vs continuous values! **

In [55]:
features = [tf.feature_column.numeric_column('age'),
           tf.feature_column.categorical_column_with_hash_bucket('workclass',hash_bucket_size=5),
           tf.feature_column.categorical_column_with_hash_bucket('education',hash_bucket_size=5),
           tf.feature_column.numeric_column('education_num'),
           tf.feature_column.categorical_column_with_hash_bucket('marital_status',hash_bucket_size=5),
           tf.feature_column.categorical_column_with_hash_bucket('occupation',hash_bucket_size=5),
           tf.feature_column.categorical_column_with_hash_bucket('relationship',hash_bucket_size=5),
           tf.feature_column.categorical_column_with_hash_bucket('race',hash_bucket_size=5),
           tf.feature_column.categorical_column_with_hash_bucket('gender',hash_bucket_size=2),
           tf.feature_column.numeric_column('capital_gain'),
           tf.feature_column.numeric_column('capital_loss'),
           tf.feature_column.numeric_column('hours_per_week'),
           tf.feature_column.categorical_column_with_hash_bucket('native_country',hash_bucket_size=5) 
           ]

** Import Tensorflow **

** Create the tf.feature_columns for the categorical values. Use vocabulary lists or just use hash buckets. **

** Create the continuous feature_columns for the continuous values using numeric_column **

** Put all these variables into a single list with the variable name feat_cols **

### Create Input Function

** Batch_size is up to you. But do make sure to shuffle!**

In [56]:
training_input_fn = tf.estimator.inputs.pandas_input_fn(x=x_train,y=y_train,shuffle=True,batch_size=100)

#### Create your model with tf.estimator

**Create a LinearClassifier.(If you want to use a DNNClassifier, keep in mind you'll need to create embedded columns out of the cateogrical feature that use strings, check out the previous lecture on this for more info.)**

In [57]:
estimator = tf.estimator.LinearClassifier(feature_columns=features)

INFO:tensorflow:Using default config.
WARNING:tensorflow:Using temporary folder as model directory: C:\Users\deves\AppData\Local\Temp\tmpdw4osynd
INFO:tensorflow:Using config: {'_model_dir': 'C:\\Users\\deves\\AppData\\Local\\Temp\\tmpdw4osynd', '_tf_random_seed': 1, '_save_summary_steps': 100, '_save_checkpoints_secs': 600, '_save_checkpoints_steps': None, '_session_config': None, '_keep_checkpoint_max': 5, '_keep_checkpoint_every_n_hours': 10000, '_log_step_count_steps': 100}

** Train your model on the data, for at least 5000 steps. **

In [58]:
estimator.train(training_input_fn,steps=60000)

INFO:tensorflow:Create CheckpointSaverHook.
INFO:tensorflow:Saving checkpoints for 1 into C:\Users\deves\AppData\Local\Temp\tmpdw4osynd\model.ckpt.
INFO:tensorflow:loss = 69.31474, step = 1
INFO:tensorflow:global_step/sec: 147.887
INFO:tensorflow:loss = 675.2318, step = 101 (0.682 sec)
INFO:tensorflow:global_step/sec: 177.172
INFO:tensorflow:loss = 543.64874, step = 201 (0.563 sec)
INFO:tensorflow:Saving checkpoints for 228 into C:\Users\deves\AppData\Local\Temp\tmpdw4osynd\model.ckpt.
INFO:tensorflow:Loss for final step: 553.56934.

### Evaluation

** Create a prediction input function. Remember to only supprt X_test data and keep shuffle=False. **

In [59]:
test_input_fn = tf.estimator.inputs.pandas_input_fn(x=x_test,shuffle=False,batch_size=100)

** Use model.predict() and pass in your input function. This will produce a generator of predictions, which you can then transform into a list, with list() **

In [60]:
y_pred = estimator.predict(test_input_fn)

** Each item in your list will look like this: **

In [61]:
preds = list(y_pred)

INFO:tensorflow:Restoring parameters from C:\Users\deves\AppData\Local\Temp\tmpdw4osynd\model.ckpt-228

** Create a list of only the class_ids key values from the prediction list of dictionaries, these are the predictions you will use to compare against the real y_test values. **

In [62]:
y_predictions = []
for i in preds:
    y_predictions.append(i['class_ids'])

** Import classification_report from sklearn.metrics and then see if you can figure out how to use it to easily get a full report of your model's performance on the test data. **

In [63]:
from sklearn.metrics import classification_report

In [64]:
print(classification_report(y_test,y_predictions))

              precision    recall  f1-score   support

           0       0.89      0.84      0.87      7420
           1       0.58      0.68      0.62      2349

    accuracy                           0.80      9769
   macro avg       0.73      0.76      0.74      9769
weighted avg       0.82      0.80      0.81      9769

# Great Job!